In [9]:
import pandas as pd
maxi = 6

def f(x):
    return x*2**x

summanden = [[f(n), f(n)] for n in range(maxi)]

df = pd.DataFrame(
        summanden,
        index = [n for n in range(maxi)], 
        columns = ['binary', 'decimal'])

df['binary']=df['binary'].map('{:b}'.format)
df

     binary  decimal
0         0        0
1        10        2
2      1000        8
3     11000       24
4   1000000       64
5  10100000      160