# [3] Python Modules: collections

This module implements specialized container datatypes providing alternatives to Pythonâ€™s general purpose built-in containers, dict, list, set, and tuple.

## collections.Counter
- dict subclass for counting hashable objects
- elements are stored as dictionary keys and their counts as dictionary values.

In [6]:
from collections import Counter
text = "Hi there, my name is Marie!"
c = Counter(text)
print(c.items())
d = c.items()
print(type(d), type(dict()), type(dict(d)))
dict(d)

dict_items([('H', 1), ('i', 3), (' ', 5), ('t', 1), ('h', 1), ('e', 4), ('r', 2), (',', 1), ('m', 2), ('y', 1), ('n', 1), ('a', 2), ('s', 1), ('M', 1), ('!', 1)])
<class 'dict_items'> <class 'dict'> <class 'dict'>

{'H': 1,
 'i': 3,
 ' ': 5,
 't': 1,
 'h': 1,
 'e': 4,
 'r': 2,
 ',': 1,
 'm': 2,
 'y': 1,
 'n': 1,
 'a': 2,
 's': 1,
 'M': 1,
 '!': 1}

In [3]:
c.items()

dict_items([('H', 1), ('i', 3), (' ', 5), ('t', 1), ('h', 1), ('e', 4), ('r', 2), (',', 1), ('m', 2), ('y', 1), ('n', 1), ('a', 2), ('s', 1), ('M', 1), ('!', 1)])

In [16]:
string_sentence = """Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet."""
count = Counter(string_sentence)

In [17]:
most_frequent_element, n = count.most_common(2)[1]
count.most_common(2)[1]

('e', 56)

In [21]:
print([i for i, v in enumerate(string_sentence) 
       if Counter(string_sentence)[v] > len(string_sentence)//2])

[]

In [19]:
Counter(string_sentence).most_common(3)

[(' ', 99), ('e', 56), ('t', 50)]

In [20]:
max(Counter(string_sentence).items(), key=lambda item:item[1])

(' ', 99)

## collections.defaultdict

In [7]:
from collections import defaultdict

initial_dict = {
    "Jill": 10,
    "Joe": 30,
    "Jane": 50,
}
student_scores = defaultdict(list, initial_dict)
student_scores

defaultdict(list, {'Jill': 10, 'Joe': 30, 'Jane': 50})

In [13]:
student_scores.get("NotInHere", -1)

-1

In [14]:
student_scores

defaultdict(list, {'Jill': 10, 'Joe': 30, 'Jane': 50})

In [15]:
student_scores.setdefault("Mario2", list())
student_scores

defaultdict(list, {'Jill': 10, 'Joe': 30, 'Jane': 50, 'Mario2': []})

In [10]:
help(defaultdict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /)
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

## collections.namedtuple()

- Returns a new tuple subclass named typename. 
- The new subclass is used to create tuple-like objects that have fields accessible by attribute lookup as well as being indexable and iterable. 
- Instances of the subclass also have a helpful docstring (with typename and field_names) and a helpful __repr__() method which lists the tuple contents in a name=value format.
- The field_names are a sequence of strings such as ['x', 'y']. Alternatively, field_names can be a single string with each fieldname separated by whitespace and/or commas, for example 'x y' or 'x, y'.
- namedtuples are immutable!

In [1]:
from collections import namedtuple

In [10]:
Point = namedtuple("Point", "x y")
Point(3,4)

Point(x=3, y=4)

In [3]:
Point2 = namedtuple('Point2',['x','y'])
Point2(3,4)

Point2(x=3, y=4)

In [8]:
Point3 = namedtuple('Point3', (field for field in "xy"))
Point3(3,4)

Point3(x=3, y=4)

In [11]:
issubclass(Point, tuple)

True

In [12]:
p = Point(3,4)
p.x

3

In [14]:
p.x = 5 # careful, immutable!

AttributeError: can't set attribute